<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1234" >
 
 
	<test name="CreateAndCallGroupTest">
		<parameter name="browser" value="Chrome" />
		<parameter name="url" value="stagingUrl" />
		<classes>
			<class name="GT.GT.CreateAndCallGroupTest" />
		</classes>
	</test>


</suite> <!-- Suite -->
